<div class="search-form">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-input" class="form-label">Input</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhap tu khoa"
        name="q"
      />

    </div>
    <div class="mb-3">
      <label for="search-input" class="form-label">Gender</label>
      <select name="gender" class="form-control" id="id-ender">
        <option value="">-- Chon gioi tinh --</option>
        <option value="Nam">Nam</option>
        <option value="Nu">Nu</option>
      </select>

    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>